<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Pe-cy</key>
    <string>P_e-cy.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brevecomb_acutecomb.case</key>
    <string>brevecomb_acutecomb.case.glif</string>
    <key>brevecomb_gravecomb</key>
    <string>brevecomb_gravecomb.glif</string>
    <key>brevecomb_gravecomb.case</key>
    <string>brevecomb_gravecomb.case.glif</string>
    <key>brevecomb_hookabovecomb.case</key>
    <string>brevecomb_hookabovecomb.case.glif</string>
    <key>brevecomb_tildecomb.case</key>
    <string>brevecomb_tildecomb.case.glif</string>
    <key>caroncomb.alt</key>
    <string>caroncomb.alt.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>circumflexcomb_acutecomb</key>
    <string>circumflexcomb_acutecomb.glif</string>
    <key>circumflexcomb_acutecomb.case</key>
    <string>circumflexcomb_acutecomb.case.glif</string>
    <key>circumflexcomb_gravecomb</key>
    <string>circumflexcomb_gravecomb.glif</string>
    <key>circumflexcomb_gravecomb.case</key>
    <string>circumflexcomb_gravecomb.case.glif</string>
    <key>circumflexcomb_hookabovecomb.case</key>
    <string>circumflexcomb_hookabovecomb.case.glif</string>
    <key>circumflexcomb_tildecomb.case</key>
    <string>circumflexcomb_tildecomb.case.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>doubleprimemod</key>
    <string>doubleprimemod.glif</string>
    <key>downArrow</key>
    <string>downA_rrow.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hookabovecomb.case</key>
    <string>hookabovecomb.case.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>leftArrow</key>
    <string>leftA_rrow.glif</string>
    <key>leftRightArrow</key>
    <string>leftR_ightA_rrow.glif</string>
    <key>longs_t</key>
    <string>longs_t.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>northEastArrow</key>
    <string>northE_astA_rrow.glif</string>
    <key>northWestArrow</key>
    <string>northW_estA_rrow.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>primemod</key>
    <string>primemod.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>rightArrow</key>
    <string>rightA_rrow.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringcomb_acutecomb</key>
    <string>ringcomb_acutecomb.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s_t</key>
    <string>s_t.glif</string>
    <key>southEastArrow</key>
    <string>southE_astA_rrow.glif</string>
    <key>southWestArrow</key>
    <string>southW_estA_rrow.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>upDownArrow</key>
    <string>upD_ownA_rrow.glif</string>
  </dict>
</plist>
